.footer {
border-top:1px solid #DEDEDE ;
  background: #ffffff;
  p {
    margin: 30px 1514px 30px 129px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #3e3e3e;
  }
}
