.box-content {
  width: 1510px;
  height: 210px;
  background: #efefef;
  margin: 30px 129px 0 129px;
  display: flex;
  flex-direction: column;
  .title {
    
    width: 241px;
    height: 21px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: auto auto 18px auto;
  }
  .body {
    margin: 0 auto auto auto;
    width: 972px;
    height: 95px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }
}
